---
---
@import "_scss/mixins";
@import "_scss/syntax";

$link-color: #83c5be;
$light-gray: #f6f6f6;

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 500;
  font-display: swap;
  src: url("fonts/Inter-Regular.woff2?v=3.15") format("woff2"),
       url("fonts/Inter-Regular.woff?v=3.15") format("woff");
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  // font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
  font-family: "Inter", sans-serif;
  font-size: 18px;

  @include tablet-up {
    font-size: 20px;
  }
}

a {
  text-decoration: none;
  color: $link-color;
  font-weight: bold;

  &:hover {
    text-decoration: underline;
  }
}

p {
  line-height: 24px;

  @include tablet-up {
    line-height: 28px;
  }
}

code {
  background-color: $light-gray;
  font-size: 0.85em;
  padding: 2px;
}

pre {
  background-color: $light-gray;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 5px;
}

figure {
  margin: 10px 0;
}

footer {
  text-align: center;
  font-size: 0.7em;
}

.index-page {
  margin-top: 100px;

  .index-section {
    margin: 50px 0;
  }
}

.profile-image {
  border-radius: 50%;
  margin: auto;
  width: 200px;
  display: block;

  @include tablet-up {
    float: right;
    width: 250px;
  }
}

.navbar {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 30px;

  .navbar-brand {
    font-size: 1.1em;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;

    &:visited {
      color: #000;
    }
  }
}

.container, footer {
  margin: 30px auto 120px auto;
  max-width: 90%;

  @include tablet-up {
    max-width: 50%;
  }

  @include tablet-wide-up {
    max-width: 70%;
  }
}

.posts-index {
  .posts-index-heading {
    margin-top: 60px;
    margin-bottom: 20px;
  }

  .index-item {
    margin-bottom: 16px;
    font-weight: 400;

    a {
      color: #000;
      font-weight: 400;
    }

    &--date {
      font-size: 0.6em;
    }
  }
}

.post-body {
  ul {
    line-height: 28px;
  }

  word-wrap: break-word;

  img {
    max-width: 100%;
  }
}
