---
---
body {
  font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
  font-size: 16px;

  @media only screen and (min-width: 700px) {
    font-size: 20px;
  }
}

.navbar {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;

  .navbar-brand {
    font-size: 1.1em;
    text-transform: uppercase;
    text-decoration: none;
  }
}

.container {
  margin: 30px auto 120px auto;
  max-width: 90%;

  @media only screen and (min-width: 700px) {
    max-width: 50%;
  }
}

.footer {
  text-align: center;
  margin-top: 80px;
  font-size: 0.7em;
}

.index {
  .index-heading {
    margin-top: 40px;
    margin-bottom: 20px;
  }

  .index-item {
    margin-bottom: 10px;

    &--date {
      font-size: 0.6em;
    }
  }
}

.post-body {
  p, ul {
    line-height: 28px;
  }
}

code {
  background-color: #f6f6f6;
}

pre {
  background-color: #f6f6f6;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 5px;
}
