---
---
$light-gray: #f6f6f6;

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
  font-size: 18px;

  @media only screen and (min-width: 700px) {
    font-size: 20px;
  }
}

p {
  line-height: 28px;
}

code {
  background-color: $light-gray;
}

pre {
  background-color: $light-gray;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 5px;
}

footer {
  text-align: center;
  margin-bottom: 60px;
  font-size: 0.7em;
  background-color: #f6f6f6;
  padding: 10px;
}

.profile-image {
  float: right;
  padding: 10px;
}

.navbar {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;

  .navbar-brand {
    font-size: 1.1em;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
  }
}

.container, footer {
  margin: 30px auto 120px auto;
  max-width: 90%;

  @media only screen and (min-width: 700px) {
    max-width: 50%;
  }
}

.index {
  .index-heading {
    margin-top: 40px;
    margin-bottom: 20px;
  }

  .index-item {
    margin-bottom: 10px;

    &--date {
      font-size: 0.6em;
    }
  }
}

.post-body {
  p, ul {
    line-height: 28px;
  }
}
