<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
    <title>{{ page.title }}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel='alternate' type='application/rss+xml' title='The Progress' href='/feed.xml' />

    <link href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css' rel='stylesheet'>
    <!-- <link href='/css/bootstrap.css' rel='stylesheet'> -->
    <link rel='stylesheet' href='/css/style.css'>
  </head>
  <body>

    <div class='container'>
      <div class='row'>

        <aside class='col-sm-12 col-md-2'>
          <div class='sidebar sticky'>
            <h1 class='title'><a href='/'>{{ site.name }}</a></h1>
            <a class='btn btn-primary' href='/archive'>Archive</a>
            <a class='btn btn-info' href='/projects'>Projects</a>
            <a class='btn btn-primary' href='/feed.xml'>Rss</a>
            <a class='btn btn-info' href='http://twitter.com/thejspr' rel='me'>Twitter</a>
            <a class='btn btn-primary' href='http://github.com/thejspr' rel='me'>Github</a>
            <a class='btn btn-info' href='/resume-jesper-kjeldgaard.pdf'>Resume</a>
            <a class='btn btn-primary' href='mailto:thejspr@gmail.com' rel='me'>Contact</a>
          </div>
        </aside>

        <section class='col-sm-12 col-md-7 content'>
          {{ content }}
        </section>

      </div>
    </div>

    <script>
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-26348309-4']);
      _gaq.push(['_trackPageview']);

      if (location.hostname !== 'localhost')
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
  </body>
</html>
