<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
    <meta name='description' content='{{ site.description }}'>
    <title>{{ page.title }} - {{ site.description }}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel='alternate' type='application/rss+xml' title='The Progress' href='/feed.xml' />
    <link href="/img/favicon.ico" rel="shortcut icon">

    <link href='/css/bootstrap.min.css' rel='stylesheet'>
    <link rel='stylesheet' href='/css/style.css'>

    <script>
      var _gaq = _gaq || [];
      var pluginUrl = '//www.google-analytics.com/plugins/ga/inpage_linkid.js';
      _gaq.push(['_require', 'inpage_linkid', pluginUrl]);
      _gaq.push(['_setAccount', 'UA-26348309-4']);
      _gaq.push(['_trackPageview']);

      if (location.hostname !== 'localhost')
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
  </head>
  <body>

    <div class='container'>
      <div class='row'>

        <aside class='col-sm-12 col-md-2 col-md-offset-1'>
          <div class='sidebar sticky'>
            <a class='btn btn-default' href='/'>Home</a>
            <a class='btn btn-default' href='/about/'>About</a>
            <a class='btn btn-default' href='/blog/'>Blog</a>
            <a class='btn btn-default' href='/projects/'>Projects</a>
          </div>
        </aside>

        <section class='col-sm-12 col-md-7 content'>
          {{ content }}
        </section>

      </div>
    </div>
  </body>
</html>
